@use 'sass:list';
@use 'front/config/sass' as *;
@use 'front/abstract/grid-system/variables' as gs;
@use 'front/abstract/grid-system/functions' as *;
@use 'front/abstract/grid-system/mixins' as *;

/*
  Index
  ---------- ---------- ---------- ---------- ----------
  • Variable(s)
  • Prep.
  • Simple toggle classes
*/

/*
  • Variable(s)
  ---------- ---------- ---------- ---------- ----------
*/

$-loop-iterations: 4;
$-loop-additions: ();

/*
  • Prep.
  ---------- ---------- ---------- ---------- ----------
*/

$-loop: (0);

@for $-i from 1 to ($-loop-iterations + 1) {
  $-loop: list.append($-loop, $-i, $separator: comma);
}

@each $-i in $-loop-additions {
  @if list.index($-loop, $-i) == null {
    $-loop: list.append($-loop, $-i, $separator: comma);
  }
}

@debug $-loop;

/*
  • Simple toggle classes
  ---------- ---------- ---------- ---------- ----------
*/

@each $-i in $-loop {
  .u-border-#{$-i} {
    border-style: solid;
    border-width: ($-i * 1px) !important;
  }
}

@each $-i in $-loop {
  .u-border-l-#{$-i} {
    border-left-style: solid;
    border-left-width: ($-i * 1px) !important;
  }

  .u-border-r-#{$-i} {
    border-right-style: solid;
    border-right-width: ($-i * 1px) !important;
  }

  .u-border-t-#{$-i} {
    border-top-style: solid;
    border-top-width: ($-i * 1px) !important;
  }

  .u-border-b-#{$-i} {
    border-bottom-style: solid;
    border-bottom-width: ($-i * 1px) !important;
  }
}

@each $-slug, $-obj in gs.$breakpoints {
  $-prefix: get-breakpoint-prefix($-obj);
  $-value: get-breakpoint-value($-obj);

  @include up($-value) {
    @each $-i in $-loop {
      .#{$-prefix}u-border-#{$-i} {
        border-left-style: solid;
        border-width: ($-i * 1px) !important;
      }
    }

    @each $-i in $-loop {
      .#{$-prefix}u-border-l-#{$-i} {
        border-left-style: solid;
        border-left-width: ($-i * 1px) !important;
      }

      .#{$-prefix}u-border-r-#{$-i} {
        border-right-style: solid;
        border-right-width: ($-i * 1px) !important;
      }

      .#{$-prefix}u-border-t-#{$-i} {
        border-top-style: solid;
        border-top-width: ($-i * 1px) !important;
      }

      .#{$-prefix}u-border-b-#{$-i} {
        border-bottom-style: solid;
        border-bottom-width: ($-i * 1px) !important;
      }
    }
  }
}
