@use 'front/config/sass' as *;
@use 'front/abstract/grid-system/mixins' as *;

/*
  Index
  ---------- ---------- ---------- ---------- ----------
  • Config
  • Base Styles
*/

/*
  • Config
  ---------- ---------- ---------- ---------- ----------
*/

/*
  • Base Styles
  ---------- ---------- ---------- ---------- ----------
*/

@include down(medium) {
  .scroll-mobile-graphique {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
}

.graphique-component {
  background: get-color('black-graphite');

  canvas {
    background: get-color('black-graphite');
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
}
