@use '../variables/' as *;

@mixin reset($color: $font-default-color) {
  color: $color;
  font-family: $font-default-stack;
  font-size: $font-default-size;
  font-style: $font-default-style;
  font-weight: $font-default-weight;
  line-height: $font-default-line-height;
  letter-spacing: $font-default-letter-spacing;
  text-decoration: $font-default-text-decoration;
  text-transform: $font-default-text-transform;
}

/*
  Ouptuts a font face declaration

  @param $font-family Name of the font.
  @param $font-path   Relative path to directory containing the font files.
  @param $font-file   Name of the font files (without extension).
  @param $font-weight Font weight.
  @param $font-weight Font style.

  Example Usage:
  @include font-face('Open Sans', '../fonts/', 'OpenSans-regular-webfont', 400, italic)
*/

@mixin declare-font-face($font-family, $font-path, $font-file, $font-weight: normal, $font-style: normal) {
  @font-face {
    font-display: swap;
    font-family: $font-family;
    src: url($font-path + $font-file + '.eot');
    src: local($font-family),
      url($font-path + $font-file + '.eot?#iefix') format('embedded-opentype'),
      url($font-path + $font-file + '.woff2') format('woff2'),
      url($font-path + $font-file + '.woff') format('woff');
    font-weight: $font-weight;
    font-style: $font-style;
  }
}
