@use 'front/config/sass' as *;
@use 'front/abstract/grid-system/mixins' as *;

/*
  Index
  ---------- ---------- ---------- ---------- ----------
  • Config
  • Base Styles
*/

/*
  • Config
  ---------- ---------- ---------- ---------- ----------
*/

/*
  • Base Styles
  ---------- ---------- ---------- ---------- ----------
*/

.video-component {
  .youtube-preview-loop__insertion-point,
  .video-preview__cover-image {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
}
