{
  "extends": "stylelint-config-standard",
  "rules": {
    "block-no-empty": null,
    "declaration-colon-newline-after": null,
    "value-list-comma-newline-after": null,
    "no-empty-source": null,
    "color-hex-case" : null,
    "no-descending-specificity": null,
    "value-keyword-case": [
      "lower",
      {
        "ignoreKeywords": [
          "BlinkMacSystemFont"
        ]
      }
    ],
    "at-rule-empty-line-before": null,
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": [
          "extend",
          "at-root",
          "debug",
          "warn",
          "error",
          "if",
          "else",
          "for",
          "each",
          "while",
          "mixin",
          "include",
          "content",
          "return",
          "tailwind",
          "apply",
          "responsive",
          "variants",
          "screen",
          "function",
          "use",
          "forward"
        ]
      }
    ]
  },
  "ignoreFiles": [
    "node_modules/**/*.scss",
    "vendor/**/*.scss",
    "vendor/**/*.css",
    "dev/abstract/**/*.scss",
    "dev/lib/**/*.scss",
    "dev/vendor/**/*.scss",
    "dist/**/*.css",
    "assets/**/*.css",
    "front/dev.scss"
  ]
}
